body{
  background-color: #29bde0;
  margin: 0;
}
header{
  width: 100%;
  text-align: center;
  position: fixed;
  background-color: #29bde0;
}
.lt-header{
  float: left;
  width: 39px; height: 40px;
  background-position: -82px -132px;
  margin: 0.7rem 0 0 1rem;
  transform: scale(0.6);
}
.rt-header{
  float: right;
  width: 36px; height: 36px;
  background-position: -141px -132px;
  margin: 0.7rem 0 0 1rem;
  transform: scale(0.6);
}
.text-header{
  height: 3rem;
  line-height: 4rem;
  color: white;
}
.banner{
  width: 100%;
  height: 3rem;
  background-color: #b9e9f5;
  margin-bottom: 0.7rem;
}
.text-banner{
  width: 80%;
  text-align: left;
  position: relative;
  top: 1rem;
}
.text-banner::after{
  box-sizing: content-box;
  width: 0px;
  height: 0px;
  position: relative;
  top: 13px;
  left: 15%;
  padding:0;
  border-bottom:9px solid transparent;
  border-top:9px solid #b9e9f5;
  border-left:9px solid transparent;
  border-right:9px solid transparent;
  display: block;
  content:'';
  z-index:10
}
.music{
  position: relative;
  top: -37px;
  left:40%;
  width: 3rem;
  height: 3rem;
  background:url(images/voting_11.png) no-repeat;
  background-size: 3rem;
  border: none;
}
.text{
  position: relative;
  text-align: left;
  padding-left: 12%;
  color: white;
}
main{
  padding-top: 8rem;
  /* padding-bottom: 9rem; */
  overflow: hidden;
  padding-bottom: 6rem;
}
.blocks{
  width: 100%;
}
.block{
  width: 20%;
  height: 20vw;
  margin: 0 0 8vw 10%;
  float: left;
}
.cube{
  /* width: 100%;
  height: 20vw; */
  border: 4px solid white;
}
.title{
  height: 70%;
  background-color: #f5c97b;
  line-height: 14vw;
  text-align: center;
}
.number{
  height: 30%;
  background-color: #83b09a;
  line-height: 6vw;
  text-align: center;
}


.hidden{
  display: none;
  /* position: relative;
  top: 0.5rem; */
}

.block:hover .hidden{
  /* display: inline-block; */
  display: block;
  float: left;
  margin:3% 2.5%;
}
footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 4rem;
  background-color: #29bde0;
  border-top: 1px solid white;
}
.btn{
  width: 50%;
  height: 3rem;
  background-color: #fbb435;
  line-height: 3rem;
  text-align: center;
  margin: 0.5rem 25% 0.5rem 25%;
}
a{
  /* position:fixed;
  bottom: 0; */
  text-decoration: none;
}
a:link{
  color: white;
}
.audio{
  width: 10px;
  height: 10px;
  display: block;
  background-color: black;
}
span{
  background: url("images/css_sprites.png") no-repeat;
}

.hidden1{
  width: 20%;
  height: 4vw;
  background: url("images/voting_15.png") no-repeat;
  background-size: 100%;
}
.hidden2{
  width: 20%;
  height: 4vw;
  background: url("images/voting_17.png") no-repeat;
  background-size: 100%;
}
.hidden3{
  width: 20%;
  height: 4vw;
  background: url("images/voting_19.png") no-repeat;
  background-size: 100%;
}
.hidden4{
  width: 20%;
  height: 4vw;
  background: url("images/voting_21.png") no-repeat;
  background-size: 100%;
}
