body{
  margin: 0;
  background-color: #f0f0f0;
  overflow: hidden;
}
header{
  background-color: #29bde0;
  height: 4rem;
}
.lastgame{
  border: 1px solid #e8e8e8;
  height: 3rem;
  background-color: white;
  width: 80%;
  margin: 1rem 10% 1rem 10%;
  text-align: center;
  vertical-align: middle;
  display: table;
}
.text{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.gameselect{
  background-color: white;
  width: 80%;
  margin: 1rem 10% 1rem 10%;
}
.game{
  display: table;
  width: 100%;
  line-height: 3rem;
  border-bottom: 1px solid #fccf86;
}
.easy,
.guess,
.idiot{
  display: table;
  width: 80%;
  line-height: 4.5rem;
  margin: 1rem 10% 0 10%;
}
.mode{
  background-color: #69d1e9;
}
.players{
  text-align: center;
  margin-top: 1rem;
}
.dot{
  width: 10px;
  height: 10px;
  background-color: #f0f0f0;
  /* border: 1px solid black; */
  border-radius: 50%;
  display: inline-block;
}
.pagination{
  text-align: center;
}
.current{
  background-color: #69d1e9;
}

/* text-color */
.text{
  font-weight: bold;
  color: white;
}
.grey{
  color: #aaaaaa;
}
.organe{
  color: #fcca72;
  font-size: 1.5rem;
}
/* a{
  position: fixed;
  bottom: 0;
} */

span{
  display: block;
}
/* img */
.topbtn{
  width: 2rem;
  height: 2rem;
  background: url("images/index_03.png") no-repeat;
  background-size: 2rem;
  margin: 1.7rem 0 0 1rem;
  float: left;
}
.next{
  width: 2rem;
  height: 2rem;
  background: url("images/index_07.png") no-repeat;
  background-size: 1rem;
  position: absolute;
  top: 6rem;
  right:10%;
}
.nextmode{
  width: 2rem;
  height: 2rem;
  background: url("images/index_11.png") no-repeat;
  background-size: 1rem;
  position:relative;
  top: -13rem;
  left: 95%;
}
a{
  text-decoration: none;
}
